.dash-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dash-list .dl{
    background-color: cornflowerblue;
    padding: 50px;
    margin-top: 50px;
}

.dash-list .dl a{
    color: whitesmoke;
    text-decoration: none;
}